{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Room: {{ room_name }} | Collab Code Edit</title>

<!-- <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.2/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.2/highlight.min.js"></script> -->
<script src="https://pagecdn.io/lib/ace/1.4.12/ace.min.js" crossorigin="anonymous"
    integrity="sha256-T5QdmsCQO5z8tBAXMrCZ4f3RX8wVdiA0Fu17FGnU1vU="></script>
<script src="https://pagecdn.io/lib/ace/1.4.12/theme-twilight.min.js" crossorigin="anonymous"></script>
<script src="https://pagecdn.io/lib/ace/1.4.12/mode-python.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"
    integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ=="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js"></script>
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block body %}

    {% if set_pass %}
    <div class="h-100 d-flex mx-4 justify-content-center align-items-center">
        <div>
            <p class="lead">The room is <strong>unoccupied.</strong>
                Enter a password to claim it. 
            </p>
            <form class="form-group d-flex" method="POST">
                {% csrf_token %}
                <input class="form-control w-50" type="password" name="room-password" id="password">
                <button type="submit" id="submit-set-pass" class="btn btn-sm btn-success mx-4">Submit</button>
            </form>
        </div>
    </div>
    {% elif get_pass %}
    <div class="h-100 d-flex mx-4 justify-content-center align-items-center">
        <div>
            <p class="lead text-danger">The room is already occupied!
                Enter the password: 
            </p>
            <form class="form-group d-flex" method="POST">
                {% csrf_token %}
                <input class="form-control w-50" type="password" name="room-password" id="password">
                <button type="submit" id="submit-get-pass" class="btn btn-sm btn-success mx-4">Submit</button>
            </form>
        </div>
    </div>
{% else %}

<div class="container-fluid">

    <div class="row" class="mx-0">
        <!-- Editor -->

        <div class="col-md-7 col-sm-12 p-0" >
            <!-- Toolbar -->
            <div class="toolbar p-1" style="min-height: 40px; height: 5vh ;background-color: rgba(0, 0, 0, 0.808);">
                <button onclick="runCode();" class="btn mx-1 btn-sm btn-info">Run</button>
                <button onclick="saveCode();" class="btn btn-sm btn-success">Save</button>

                <div style="position: absolute; right: 15px; top: 5px">
                    <label for="input-font" class="text-white" >Font Size:</label>
                    <select id="input-font" class="input"
                            onchange="changeFontSize (this);"> 
                        <option value="12" 
                            selected="selected"> 
                            12
                        </option> 
                        <option value="14">14</option> 
                        <option value="16">16</option> 
                        <option value="20">20</option> 
                        <option value="22">22</option> 
                        <option value="24">24</option> 
                    </select> 
                </div>
            
            </div>
            <!-- Main editor -->
            <div id="editor" style="height: 80vh;">#code by: {{user.username}}
print('Hello world!')
            </div>
            <div class="output-screen bg-dark p-2" style="height: 15vh; overflow: auto; word-wrap:break-word;">
                <strong><p class="text-white">Output</p></strong>
                <p id="code-output" class="text-white"></p>
            </div>

        </div>


        <!-- Layout with chat + canvas -->
        <div class="col-md-5 col-sm-12 p-0">
            <!-- Chat -->
            <div id="chatbox" style="min-height: 350px !important; height: 50vh; background-color: rgba(0, 0, 0, 0.15);">
                <div class="mx-4">
                        <div class="form-group">
                            <label for="chat-text" class="h4 pt-1">Chatroom: <span
                                    style="color: brown;">{{room_name}}</span></label>
                            <div id="chat-text"
                                style="height: 120px; min-height: 100px !important; overflow: auto !important; word-wrap: break-word; background-color: rgba(73, 70, 70, 0.205);"
                                class="p-2 border border-danger"></div>
                        </div>
                        <div class="form-group mt-0">
                            <label for="input" class="lead">Message: </label>
                            <input autocomplete="off" class="form-control mb-2" id="input" type="text">
                            <input type="button" class="btn btn-secondary btn-md btn-block" id="submit" value="Send">
                            <input type="button" class="btn btn-danger btn-md btn-block" id="exit" value="Exit">
                            <input type="button" class="btn btn-success btn-md btn-block" id="reload" style="display: none;"
                            value="Reload">
                        </div>
                </div>
            </div>
            <!-- Canvas -->
            <div id="sketch-holder"
                style="position: relative;border-style: solid; border-color: rgba(128, 128, 128, 0.726); border-width: 3.5px;position: absolute !important; height: 50% !important; background-color: black;">
                <p class="text-white" style="position: absolute; z-index: 500; right: 50px;">Live Sketch</p>

            </div>
        </div>

    </div>
</div>

{% endif %}

<script>
    const userName = "{{request.user.username}}"
    const roomName = "{{room_name}}"
</script>

{% if get_pass or set_pass %}
<script type="text/javascript" src="{% static 'pass.js' %}"></script>
{% else %}
<script type="text/javascript" src="{% static 'chat.js' %}"></script>
<script type="text/javascript" src="{% static 'sharededit.js' %}"></script>
<script type="text/javascript" src="{% static 'canvas.js' %}"></script>
{% endif %}
{% endblock %}