{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Chatroom</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-8">
                <form>
                    <div class="form-group">
                        <label for="chat-text" class="h4 pt-5">Chatroom: <span style="color: brown;">{{room_name}}</span></label>
                        <div id="chat-text" style="height: 250px !important; overflow: auto; overflow-x: hidden;" class="p-2 border"></div>
                    </div>
                    <div class="form-group">
                        <label for="input" class="lead">Message: </label>
                        <input autocomplete="off" class="form-control" id="input" type="text">
                    </div>
                    <input type="button" class="btn btn-secondary btn-lg btn-block" id="submit" value="Send">
                    <input type="button" class="btn btn-danger btn-lg btn-block" id="exit" value="Exit">
                </form>
            </div>
        </div>
    </div>


    {{ request.user.username|json_script:"user_username" }}
    {{ room_name|json_script:"room-name" }}
    
    
   
    <!-- <script type="text/javascript" src="{% static 'emojionearea.min.js' %}"></script> -->
    
    <script>
        const user_username = JSON.parse(document.getElementById('user_username').textContent);
        document.querySelector('#submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
            }));
            messageInputDom.value = '';
        };



        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/chat/' +
            roomName +
            '/'
        );
        

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            if(data.username){
                document.querySelector('#chat-text').innerHTML += ('<span class="text-danger">' + data.username + '</span>'+ ': ' + data.message + '<br/>')
            }
            else{
                document.querySelector('#chat-text').innerHTML += ('<span class="font-weight-bold">' + data.message + '</span>' + '<br/>') 
            }
        }

        $(document).ready(() => {
            $("#exit").click(() => {
                chatSocket.close()
                document.querySelector('#chat-text').innerHTML += ('<span class="font-weight-bold">' + 'Connection closed.' + '</span>' + '<br/>') 
            })
        })
    </script>

{% endblock body %}