{% extends "base.html" %}
{% load static %}
{% block title %}
    <title>Chatroom</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block body %}


    {% if set_pass %}
    <div class="h-100 d-flex mx-2 justify-content-center align-items-center">
        <div>
            <p class="lead">The room is <strong>unoccupied.</strong>
                Enter a password to claim it. 
            </p>
            <form class="form-group d-flex" method="POST">
                {% csrf_token %}
                <input class="form-control w-50" type="password" name="room-password" id="password">
                <button type="submit" id="submit-set-pass" class="btn btn-sm btn-success mx-4">Submit</button>
            </form>
        </div>
    </div>
    {% elif get_pass %}
    <div class="h-100 d-flex mx-2 justify-content-center align-items-center">
        <div>
            <p class="lead text-danger">The room is already occupied!
                Enter the password: 
            </p>
            <form class="form-group d-flex" method="POST">
                {% csrf_token %}
                <input class="form-control w-50" type="password" name="room-password" id="password">
                <button type="submit" id="submit-get-pass" class="btn btn-sm btn-success mx-4">Submit</button>
            </form>
        </div>
    </div>
    {% else %}
        <div class="row d-flex justify-content-center">
            <div class="col-8">
                    <div class="form-group">
                        <label for="chat-text" class="h4 pt-5">Chatroom: <span style="color: brown;">{{room_name}}</span></label>
                        <div id="chat-text" style="height: 250px !important; overflow: auto; overflow-x: hidden;" class="p-2 border"></div>
                    </div>
                    <div class="form-group">
                        <label for="input" class="lead">Message: </label>
                        <input autocomplete="off" class="form-control" id="input" type="text">
                    </div>
                    <input type="button" class="btn btn-secondary btn-lg btn-block" id="submit" value="Send">
                    <input type="button" class="btn btn-danger btn-lg btn-block" id="exit" value="Exit">
                    <input type="button" class="btn btn-success btn-lg btn-block" id="reload" style="display: none;" value="Reload">
            </div>
        </div>
    {% endif %}
    
    <script>
        const userName = "{{request.user.username}}"
        const roomName = "{{room_name}}"

    </script>
   
    <!-- <script type="text/javascript" src="{% static 'emojionearea.min.js' %}"></script> -->
    {% if get_pass or set_pass %}
        <script type="text/javascript" src="{% static 'pass.js' %}"></script>
    {% else %}
        <script type="text/javascript" src="{% static 'chat.js' %}"></script>
    {% endif %}

{% endblock body %}