{% extends "base.html" %}
{% block title %}
    <title>Chatroom</title>
{% endblock title %}
{% block body %}
<style>
    html, body{
        height: 100% !important;
        overflow: hidden;
    }
</style>
    <div class="h-100 d-flex mx-2 justify-content-center align-items-center mt-3">
        <div>

        <p class="lead">Welcome to the chatroom!</p>
        {% if user.username != "" %}
            <p class="lead" style="color: brown;">You are logged in as  <span  class="px-1" style="color: rgb(0, 0, 0); font-weight: bold">{{user.username}}</span></p>
            <a href="/auth/logout" class="text-primary">Logout</a>
        {% else %}
            <p class="lead">You must login to access the chat room.</p>
            <a class="strong" href="/auth/login">Login</a>
        {% endif %}

        </div>
    </div>
{% endblock body %}