{% extends "base.html" %}
{% block title %}
<title>Register</title>
{% endblock title %}
{% block body %}

<style>
    html, body{
        height: 100% !important;
        overflow: hidden;
    }
</style>
<div class="container mt-3">
        {% if errors %}
            <div class="alert alert-danger alert-dismissible fade show">
                <strong>Error!</strong>
                <p>{{ errors }}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
</div>
<div class="h-100 d-flex mx-2 justify-content-center align-items-center  mt-3">
    <div>
        <form method="post">
            {% csrf_token %}
            <p class="display-4">Register</p>
            {% for field in form %}
            <div class="form-group">
                {{field.label}}
                <div style="width: 250px !important;">
                    {{field}}
                </div>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>



{% endblock body %}